<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
        <div class="col-12 col-lg-6">
            <img src="/img/smell.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" Loading="lazy" alt="smell.png">
        </div>

    <div class="col-12 col-lg-6">

        <h1 class= "display-5 fw-bold mb-3">Coffee Ideas!</h1>
        <p class>
            Explore our huge selection of delicious ideas including; Hot coffees, Iced Coffees, Blended Coffee, Hot Teas, Cold Teas, and much more! 
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/explore-newest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Newest</a>
            <a href="/random-drink" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Drink Reccomendation</a>
        </div>
    </div>


</div>


<!-- Categories Start-->
<div class= "row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

    <a href="/categories" class= "col text-center category__link">
        <div class="category__img shadow">
            <img src="img/coffee-based-drinks.jpg" alt="All Drinks" Loading="lazy">
        </div> 
        <div class="pt-1">All Categories</div>
    </a>

    <a href="#" class= "col text-center category__link">
        <div class="category__img shadow">
            <img src="img/Cup-Of-Creamy-Coffee.png" alt="Hot Coffees" Loading="lazy">
        </div> 
        <div class="pt-1">Hot Coffees</div>
    </a>

    <a href="/cold-coffee" class= "col text-center category__link">
        <div class="category__img shadow">
            <img src="img/Keto-Iced-Coffee-2.jpg" alt="Cold Coffees" Loading="lazy">
        </div> 
        <div class="pt-1">Cold Coffees</div>
    </a>

    <a href="/blended-drinks" class= "col text-center category__link">
        <div class="category__img shadow">
            <img src="img/coffee-5893926_1920-1024x1024.jpg" alt="Blended" Loading="lazy">
        </div> 
        <div class="pt-1">Blended Drinks</div>
    </a>

    <a href="/hot-teas" class= "col text-center category__link">
        <div class="category__img shadow">
            <img src="img/London-Fog-Drink-001s.png" alt="Hot Teas" Loading="lazy">
        </div> 
        <div class="pt-1">Hot Teas</div>
    </a>

    <a href="/iced-teas" class= "col text-center category__link">
        <div class="category__img shadow">
            <img src="img/peach-iced-tea-featured-500x375.jpg" alt="Iced Teas" Loading="lazy">
        </div> 
        <div class="pt-1">Cold Teas</div>
    </a>
</div>
<!-- Categories Ends-->





<!-- Latest Starts-->


<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Latest Drinks</h2>
        <a href="/explore-latest" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <a href="/categories" class= "col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/iced-caramel-macchiato-recipe-5-800x1200.jpg" alt="Caramel Macciato" Loading="lazy">
            </div> 
            <div class="pt-1">Caramel Macciato</div>
        </a>
    </div>
</section>






<!-- Latest Ends-->